<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
  <h1>Twoje playlisty</h1>

  <div *ngIf="user">
    <div style="display:flex; align-items:center; gap:10px;">
      <img
        *ngIf="user.images?.length"
        [src]="user.images[0].url"
        width="40"
        height="40"
        style="border-radius:50%"
      />
      <strong>{{ user.display_name }}</strong>
    </div>

    <button (click)="logout()" style="margin-top:4px;">
      Wyloguj
    </button>
  </div>
</div>

<button (click)="loadPlaylists()">Pobierz playlisty</button>

<div *ngIf="playlists.length">
  <div
    *ngFor="let playlist of playlists"
    style="margin-top:15px; display:flex; gap:15px;"
  >
    <img
      *ngIf="playlist.images?.length"
      [src]="playlist.images[0].url"
      width="80"
      height="80"
      style="border-radius:6px"
    />

    <div>
      <strong>{{ playlist.name }}</strong><br />
      Utworów: {{ playlist.tracks.total }}
      
    </div>
  </div>
</div>
